<a href="https://colab.research.google.com/github/chaitanyaaditya/CapStone/blob/CapStone2/CapStoneProject2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing necessary libraries

In [ ]:
## Data Manipulation & Handling & Vizualisation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## NMF
from sklearn.decomposition import NMF

#Warning Filter library
import warnings
warnings.filterwarnings("ignore")

## Loading the dataset

In [ ]:
df = pd.read_csv('spotify.xls', index_col=0)

In [ ]:
df.head()

,song_1,song_2,song_3,song_4,song_5,song_6,song_7,song_8,song_9,song_10,...,song_4991,song_4992,song_4993,song_4994,song_4995,song_4996,song_4997,song_4998,song_4999,song_5000
user_1,2,2,8,8,13,1,4,9,1,2,...,14,2,14,1,9,0,11,6,14,7
user_2,13,5,5,5,12,8,10,10,2,2,...,10,6,11,1,1,5,12,8,3,0
user_3,3,9,2,8,0,1,11,7,3,7,...,9,5,7,15,12,13,14,5,0,14
user_4,2,6,7,8,14,0,12,7,8,1,...,9,15,9,14,10,6,11,13,6,0
user_5,11,12,8,6,13,7,0,7,3,13,...,12,14,11,11,11,7,3,6,11,7

In [ ]:
df.shape

(1000, 5000)

## Problem statement

Build recommendation engine using user listening history

In [ ]:
x = df.values
x

array([[ 2,  2,  8, ...,  6, 14,  7],
       [13,  5,  5, ...,  8,  3,  0],
       [ 3,  9,  2, ...,  5,  0, 14],
       ...,
       [ 6,  2,  1, ..., 13,  6, 13],
       [ 7,  0,  8, ..., 11,  9, 12],
       [ 6, 15,  0, ..., 15,  4,  5]], dtype=int64)

## NMF

In [ ]:
nmf = NMF(n_components = 100, max_iter = 1000, random_state=3)

In [ ]:
nmf.fit(x)

NMF(max_iter=1000, n_components=100, random_state=3)

In [ ]:
user_matrix = nmf.transform(x)
song_matrix = nmf.components_.T

In [ ]:
user_matrix

array([[1.59597279, 1.63144383, 0.        , ..., 0.        , 0.        ,
        0.08842005],
       [0.        , 1.37058116, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.25150672, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.86093206, ..., 0.        , 2.91063979,
        0.        ],
       [0.89111106, 0.55775866, 5.28815626, ..., 1.14447002, 0.        ,
        0.        ],
       [0.11437224, 0.3810454 , 1.17187612, ..., 0.        , 0.        ,
        0.        ]])

In [ ]:
user_matrix.shape

(1000, 100)

In [ ]:
song_matrix.shape

(5000, 100)

## Steps to build recommendation system - Type 1(for local library or small dataset)
1. Consider recommending songs for the first user (row location 0 in user matrix)
2. Find the euclidian distance between this first user and the remaining 999 users.
3. Find out top 10 songs heard by nearest 5 users
4. Recommend this 10 songs to the first users.

Calculating the distance between 2 users.

In [ ]:
def col_dist(u1,u2):
    return pow(sum(pow(u1[x]-u2[x],2)for x in range(len(u1))),0.5)

In [ ]:
col_dist(user_matrix[0], user_matrix[1])

17.066386601826405